div.header {
    background-color: darkslategrey;
}
div.tile {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
div.tile img {
    width: 100%;
    height: auto;
}
div.tile:hover {
    border: 1px solid #777;
}
div.desc {
    padding: 15px;
    text-align: center;
}
